body{
    font-family: arial;
    text-align: center;  
}

h1{
 text-align: center;   
 margin-bottom: 10px;
}

.button{
    display: inline-block;
    padding: 10px 2px;
    margin: 4px;
    width:56px;
    height:40px;
    font-size:35px;
    text-align:center;
    border: solid 1px black;
    border-radius: 6px;
    cursor: pointer;
}

.buttons{
    display:inline-block;
}

.link{
    padding: 10px 0;
    width: 600px;
    margin: auto;
}

.click_button{
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    padding: 4px 8px;
    margin: 0 10px;
}

.loaded_song{
    padding: 2px 10px;
    background-color: rgb(250,250,250);
    font-size: 30px;
    margin: 8px 0;
    cursor: pointer;
}

#license{
    display: inline-block;
    margin-left: 20px;
}

#links, #info, #links_button, #info_button, #toggle_editor_container{
    display: none;
}

#video_link{
    padding: 0;
    margin-bottom: 20px;
}

a{
    color: rgb(0,133,225);
    background-color: white;
    text-decoration: none;
    padding: 0;
    border-radius: 4px;
    transition: all 200ms linear;
    padding: 0 2px;
}

a:hover{
    padding: 0 2px;
    background-color: rgb(218,222,224);
    text-decoration: underline;
}