<h1>Launchpad</h1>
<div class="buttons"></div>
<p class="soundPack">Loading sounds (0/0). This should only take a few seconds"</p>
<div id="error_msg"></div>
<p><b>Use your keyboard keys to activate the sounds and your arrow keys to switch the soundpack</b></p>
<div id="toggle_editor_container" class="click_button">Open Editor</div>
<p>Please note that the editor is still being developed and therefore not all features will work</p>
<p><b>Click the load button in the editor to load parts of the song and learn how to play!</b></p>
<div id="editor_container">
  <canvas id="editor_canvas" width="200" height="100">Your browser does not support the HTML5 canvas tag.</canvas>
</div>
<div>
  <div id="link">Here is the link to the Youtube video that inspired me to get a launchpad and create this website: <a href="https://www.youtube.com/watch?v=SAXpBgkXt60" target="_blank">Nev Plays: Skrillex - First of the Year (Equinox) Launchpad Cover</a></div>
</div>
<div>
  <div id="link">Here is the link to the tutorial video which has the project file that I recorded all of the sounds from: <a href="https://www.youtube.com/watch?v=PUfQXaxGNNA" target="_blank">Nev Teaches: How to Play Skrillex - First of the Year (Equinox) Launchpad Tutorial</a></div>
</div>
<div id="gray_background">
  <div id="close_layover">Close</div>
</div>
<div id="login_form">
  <div>
    <label>Username</label>
    <input type="text" name="username" id="login_username"/>
  </div>
  <div>
    <label>Password</label>
    <input type="password" name="password" id="login_password"/>
  </div>
  <div id="submit_login">Login</div>
</div>
<div id="load_songs"></div>
<div id="footer">
  <p>Made by Daniel Weber</p>
  <div id="license">
    <p>This work is licensed under the <a href="https://github.com/Dan12/Launchpad/blob/master/LICENSE.md" target="_blank">MIT license</a></a>.
  </div>
</div>