<h1>Online Launchpad</h1>

<div id="video_link" class="link">Watch the video: <a href="https://www.youtube.com/watch?v=s9FyJe_TLd8" target="_blank">Online Launchpad Demo</a></div>

<div class="buttons"></div>

<p class="soundPack">Loading sounds (0/0). This should only take a few seconds.</p>
<div id="error_msg"></div>

<div id="toggle_editor_container" class="click_button">Editor</div>
<div id="info_button" class="small_button click_button">Info</div>
<div id="links_button" class="small_button click_button">Links</div>

<div id="info">
    <p>Use your keyboard keys to activate the sounds and your arrow keys to switch the soundpack</p>
    <p>Watch the video to get an idea of how to play this</p>
</div>

<div id="links">
    <div class="link">Here is the link to the Youtube video that inspired me to get a launchpad and create this website: <a href="https://www.youtube.com/watch?v=SAXpBgkXt60" target="_blank">Nev Plays: Skrillex - First of the Year (Equinox) Launchpad Cover</a></div>
    <div class="link">Here is the link to the tutorial video which has the project file that I recorded all of the sounds from: <a href="https://www.youtube.com/watch?v=PUfQXaxGNNA" target="_blank">Nev Teaches: How to Play Skrillex - First of the Year (Equinox) Launchpad Tutorial</a></div>
</div>

<div id="footer">
    <span>Made by <a href="https://dan12.github.io" target="_blank">Daniel Weber</a></span>
    <div id="license">
        <p>This work is licensed under the <a href="https://github.com/Dan12/Launchpad/blob/master/LICENSE.md" target="_blank">MIT license</a></a>.
    </div>
</div>