<h1>Launchpad</h1>
<div class="buttons"></div>
<p class="soundPack">Loading Sounds. This should only take a few seconds</p>
<div id="play_button">Play</div>
<div>
  <div id="link">Here is the link to the Youtube video that inspired me to get a launchpad and create this website: <a href="https://www.youtube.com/watch?v=SAXpBgkXt60">Nev Plays: Skrillex - First of the Year (Equinox) Launchpad Cover</a></div>
</div>