<h1>Launchpad</h1>
<div class="buttons"></div>
<p class="soundPack">Loading sounds (0/0). This should only take a few seconds"</p>
<div id="error_msg"></div>
<div id="toggle_editor_container" class="click_button">Open Editor</div>
<div id="editor_container">
  <canvas id="editor_canvas" width="200" height="100">Your browser does not support the HTML5 canvas tag.</canvas>
</div>
<div>
  <div id="link">Here is the link to the Youtube video that inspired me to get a launchpad and create this website: <a href="https://www.youtube.com/watch?v=SAXpBgkXt60" target="_blank">Nev Plays: Skrillex - First of the Year (Equinox) Launchpad Cover</a></div>
</div>
<div>
  <div id="link">Here is the link to the tutorial video which has the project file that I recorded all of the sounds from: <a href="https://www.youtube.com/watch?v=PUfQXaxGNNA" target="_blank">Nev Teaches: How to Play Skrillex - First of the Year (Equinox) Launchpad Tutorial</a></div>
</div>